@import "home";


// Your variable overrides
$body-bg: #fff;
$body-color: #111;

$lead-font-size: 1.65rem;

.navbar-toggler {
  border: 0px !important;
}

h1, h2 {
  font-family: 'Trocchi', serif !important;
}

//** Global textual link color.
$link-color: green;
$link-decoration: underline;



// Bootstrap and its default variables
@import "../bootstrap/scss/bootstrap";
