@import "home";
@import "colors";


// Your variable overrides
$body-bg: #fff;
$body-color: #111;

$lead-font-size: 1.65rem;

.navbar-toggler {
  border: 0px !important;
}

h1, h2 {
  font-family: 'Trocchi', serif !important;
}


//** Global textual link color.
$link-color: green;

.bg-01 {background-color: $light-gray01;}



// Bootstrap and its default variables
@import "../bootstrap/scss/bootstrap";
